.container {
  background-color: #6482ad;
  width: 100%;
}
nav {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 7%;
  border-bottom: 2px solid #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #6482ad;
}
h3 .a {
  color: #fff;
  text-decoration: none;
  font-size: 32px;
  font-weight: 700;
}
h1 {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
}
.home-page h1 {
  margin-bottom: 20px;
}
.home-page {
  padding: 100px 7%;
  width: 100%;
}
.home-page {
  color: #7fa1c3;
}
.search-bar {
  width: 100%;
  padding: 10px 15px;
  background: #f5eded;
  color: #6482ad;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 6px;
  margin-bottom: 20px;
}
.catatan-list {
  padding: 10px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 12px;
}

.catatan-item {
  background: #f5eded;
  padding: 8px;
  border-radius: 6px;
  overflow: auto;
  max-width: 300px;
}
.catatan-item-title .title {
  color: #6482ad;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
  text-decoration: underline;
}
.date {
  color: #7fa1c3;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 6px;
}
.catatan-item_body {
  font-size: 16px;
  color: #6482ad;
  font-weight: 400;
}
.nav-new {
  width: 50px;
  height: 50px;
  background: #f5eded;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.nav-new .icons {
  font-size: 28px;
  transform: translateY(3px);
  color: #6482ad;
}
.add-page {
  padding: 100px 7%;
  width: 100%;
  height: 100vh;
  background-color: #6482ad;
}
.add-page h1 {
  margin-bottom: 20px;
}
.add-page .catatan-input {
  padding: 20px;
  background-color: #f5eded;
  height: 100%;
}
.add-page .catatan-input input {
  width: 100%;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: transparent;
  border: 2px solid #6482ad;
  margin-bottom: 10px;
  color: #6482ad;
  font-size: 16px;
}
.add-page .catatan-input .add-body {
  border: 2px solid #6482ad;
  border-radius: 6px;
  padding: 20px;
  outline: none;
  color: #6482ad;
  font-size: 18px;
  font-weight: 500;
  max-height: 150px;
  overflow: auto;
  height: 100%;
  margin-bottom: 10px;
}
[data-placeholder]:empty:before {
  content: attr(data-placeholder);
  color: #6482ad;
  font-size: 20px;
}
.add-page .catatan-input p {
  font-size: 14px;
  color: #6482ad;
  margin-bottom: 3px;
  text-align: right;
}

.add-page .catatan-input button {
  width: 100%;
  padding: 8px 0px;
  background: #6482ad;
  color: #f5eded;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
}
.detail-page {
  width: 100%;
  height: 100vh;
  padding: 100px 7%;
}
.detail-page .detail-catatan {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 12px;
  background: #f5eded;
  position: relative;
}
.detail-page .detail-catatan h1 {
  color: #6482ad;
  font-size: 36px;
}
.detail-page .detail-catatan p {
  font-size: 20px;
}
.detail-page .detail-catatan .action {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.detail-page .detail-catatan .action .catatan-item_action {
  width: 300px;
  padding: 10px;
  background: #6482ad;
  border-radius: 6px;
  display: flex;
  justify-content: space-around;
}
.detail-page .detail-catatan .action .catatan-item_action button {
  padding: 6px 16px;
  background-color: #f5eded;
  border: none;
  outline: none;
  border-radius: 6px;
  color: #6482ad;
  cursor: pointer;
}
.arsip-page {
  padding: 100px 7%;
  width: 100%;
  height: 100vh;
  background-color: #6482ad;
}
.arsip-page h1 {
  margin-bottom: 10px;
}
.arsip-page h3 {
  color: #7fa1c3;
}
.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}
.not-found h1 {
  color: #6482ad;
}
