h1 {
  font-size: 32px;
  font-weight: 500;
  color: #fff;
}
.container {
  width: 100%;
  background-color: #7fa1c3;
  padding: 20px;
}
.navbar {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #fff;
  margin-bottom: 50px;
}
.navbar input {
  color: #7fa1c3;
  width: 400px;
  background-color: #fff;
  border: 1px solid #fff;
  font-family: serif;
}
.navbar input::placeholder {
  color: #6482ad;
}
input::placeholder,
textarea::placeholder {
  color: #7fa1c3;
  font-size: 14px;
  font-weight: 400;
}
.catatan-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.catatan-input form {
  display: flex;
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #6482ad;
  border-radius: 8px;
  box-shadow: 0 4px 6px 10px rgba (0, 0, 0, 0.1);
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
}
.catatan-input form p {
  font-size: 14px;
  color: #6482ad;
  font-weight: lighter;
  text-align: right;
}
.catatan-input form textarea,
input {
  padding: 10px 16px;
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  color: #6482ad;
  background-color: transparent;
  border: 1px solid #6482ad;
  outline: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.catatan-input form textarea {
  resize: vertical;
}
.catatan-input form button {
  width: 100%;
  background-color: #6482ad;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
}
.catatan-list {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  background: #7fa1c3;
  border-radius: 6px;
}
.catatan-list .catatan-item {
  padding: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 17px;
  overflow: hidden;
}
h3 {
  color: #6482ad;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}
.catatan-list .catatan-item .catatan-item_content .catatan-item_header p {
  color: #7fa1c3;
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 7px;
}
.catatan-list .catatan-item .catatan-item_content .catatan-item_body {
  color: #6482ad;
  font-size: 16px;
  font-weight: 100;
}
.catatan-list .catatan-item .catatan-item_action {
  margin-top: 5px;
  display: flex;
  gap: 10px;
}
.catatan-list .catatan-item .catatan-item_action button {
  padding: 6px 16px;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.catatan-list .catatan-item .catatan-item_action button:nth-child(2) {
  background-color: #6482ad;
}
.catatan-list .catatan-item .catatan-item_action button:nth-child(1) {
  background-color: #f5eded;
  color: #7fa1c3;
}
